<a href="https://colab.research.google.com/github/PiKaChu-wcg/pytorch/blob/main/firstnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pytorch的头文件
numpy pandas plt 等等

In [8]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import torch

In [5]:
data=pd.read_csv('data.csv')

In [7]:
data

        Duration           Start date  ... Bike number  Member type
0           1012  2010-09-20 11:27:04  ...      W00742       Member
1             61  2010-09-20 11:41:22  ...      W00032       Member
2           2690  2010-09-20 12:05:37  ...      W00993       Member
3           1406  2010-09-20 12:06:05  ...      W00344       Member
4           1413  2010-09-20 12:10:43  ...      W00883       Member
...          ...                  ...  ...         ...          ...
115592      2179  2010-12-31 23:20:32  ...      W00859       Casual
115593       953  2010-12-31 23:21:57  ...      W00914       Member
115594       737  2010-12-31 23:27:28  ...      W00973       Member
115595       514  2010-12-31 23:37:38  ...      W01119       Member
115596     51962  2010-12-31 23:49:05  ...      W00771       Casual

[115597 rows x 9 columns]